body {
    margin: 0;
    padding: 0;
    background-color: #3f4852;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-size: 50px;
    margin-top: 40px;
}

h1 span {
    color: #27c1e6;
}

.container {
    width: 450px;
    height: 350px;
    background-color: #e6e6e6;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face {
    width: 250px;
    height: 250px;
    background-color: orange;
    border-radius: 50%;
    position: relative;
}

.eye {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 70px;
}

.left-eye {
    left: 60px;
}

.right-eye {
    right: 60px;
}

.mouth {
    width: 120px;
    height: 60px;
    background-color: #b33a3a;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 60px 60px;
}
