* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 260px;
    background: black;
    color: white;
    padding: 20px;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
}

.logo i {
    cursor: pointer;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 15px 0;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.menu li i {
    margin-right: 15px;
    width: 20px;
}

.menu li:hover {
    color: #00adb5;
    padding-left: 10px;
}

/* Main Content */
.main-content {
    flex: 1;
    background: url('C:\Users\Manan\OneDrive\Desktop\Sigma 8.0\camera.jpeg') no-repeat center center/cover;
}
