/* =======================
   Q5 – Grid Layout
======================= */

.container1{
    width:400px;
    height:400px;
    border:3px solid teal;
    border-radius:10px;
    margin:20px auto;

    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-content:space-evenly;
}

.box{
    width:100px;
    height:100px;
    background:gray;
    border:2px solid black;
    border-radius:10px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:50px;
}


/* =======================
   Q6 – Navbar Layout
======================= */

.container2{
    width:900px;
    height:60px;
    background:pink;
    border:2px solid red;
    margin:40px auto;

    display:flex;
    align-items:center;
}

.nav-item{
    width:80px;
    height:50px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:24px;
}