body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    background: black;
    padding: 20px;
    border-radius: 10px;
}

.light{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 15px;
}

.red{
    background: red;
}

.yellow{
    background: yellow;
}

.green{
    background: green;
}
